{
  "name": "%PROJECT_NAME%",
  "version": "0.0.0",
  "private": true,
  "type": "module",
  "dependencies": {
    "@useauthio/node": "^0.1.0-alpha.0",
    "@useauthio/react": "^0.1.0-alpha.0",
    "@useauthio/nextjs": "^0.1.0-alpha.0"
  }
}
